* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 5, 5);
}
button {
    cursor: pointer;
}
.container {
    padding: 56px 0;
}

.row {
    margin: 0 64px;
}

/* slider Styling */

.slider__container {
    background-color: rgb(254, 254, 254);
    padding: 30px;
    border-radius: 10px;
    width: min(480px, 90%);
    box-shadow: 0 5px 10px rgba(101, 205, 27, 0.882);
}

.slider__container h3 {
    font-size: 30px;
}

.range {
    width: 100%;
    display: grid;
    position: relative;
    z-index: 3;
}

.range input {
    grid-row: 2;
    grid-column: 1;
    pointer-events: none;
    appearance: none;
    background: transparent;
}

.range input::-webkit-slider-thumb{
    pointer-events: auto;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

.range-slider {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding-block: 20px;
}

.range-slider > input {
    border: none;
    outline: none;
    background-color: rgb(229, 227, 227);
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 64px;
   
}

.slider {
    position:absolute;
    height: 10px;
    width: 100%;
    background-color: rgb(231, 229, 229);
    top: 54.25%;
    transform: translateY(-50%);
    border-radius: 5px;
    overflow: hidden;
    z-index: -1;
}

.progress {
    position:absolute;
    height: 100%;
    background-color: green;
}

/* spell list */

.spell-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.spell {
  width: 50%;
}

.spell-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(101, 205, 27, 0.882);
  margin: 0px 20px;
  margin-bottom: 30px;
  transition: 0.3s;
  border-radius: 10px;
  padding: 15px;
  cursor: default
}

.spell-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.spell-card__info--container {
  padding: 15px;
}
